Scraping Top 100 Movies From IMDb

In [1]:
# import Libraries 

import pandas as pd
import requests
from bs4 import BeautifulSoup
import numpy as np

In [2]:
# Assigning the url with variable name url
url = 'https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating'

# Send http request
response = requests.get(url)
soup = BeautifulSoup(response.content,'html.parser')

In [3]:
# Creating Variables empty list 

movie_name = []
year = []
time = []
rating = []
genre = []
metascore = []
votes = []
gross = []
Director = []
Stars = []

In [4]:
# Storing required data in the variable
movie_data = soup.findAll('div',attrs = {'class':'lister-item mode-advanced'})

In [5]:
# By using for loop calling one by one 

for store in movie_data:
    name = store.h3.a.text
    movie_name.append(name)
    
    year_of_release = store.h3.find('span',class_ = "lister-item-year text-muted unbold").text.replace('(','').replace(')','')
    year.append(year_of_release)
    
    runtime = store.p.find('span',class_ = 'runtime').text.replace(' min','')
    time.append(runtime)
    
    genre_ = store.p.find('span', class_ = 'genre').text.replace('\n','').replace('  ','')
    genre.append(genre_)
    
    
    rate = store.find('div',class_ = 'inline-block ratings-imdb-rating').text.replace('\n','')
    rating.append(rate)
    
    
    meta = store.find('span',class_ = 'metascore').text.replace(' ','') if store.find('span',class_ = 'metascore') else 'NaN'
    metascore.append(meta)
    
    value = store.find_all('span', attrs = {'name' : 'nv'})
    
    vote = value[0].text
    votes.append(vote)
    
    
    grosses = value[1].text if len(value) > 1 else 'NaN'
    gross.append(grosses)
    
    cast = store.find("p",class_ = '')
    cast = cast.text.replace('\n','').split('|')
    cast = [x.strip() for x in cast]
    cast = [cast[i].replace(j, "") for i,j in enumerate(["Director:", "Stars:"])]
    Director.append(cast[0])
    Stars.append([x.strip() for x in cast[1].split(",")])

In [6]:
# Create a dataframe using pandas Library 

movie_df = pd.DataFrame({'Name of movie': movie_name, 'Year of relase': year, 'Watchtime': time, 'Movie Rating': rating, 'Genre': genre,'Metascore': metascore, 'Votes': votes, 'Gross collection': gross, "Director": Director, 'Star': Stars})

In [7]:
movie_df.head(5)

,Name of movie,Year of relase,Watchtime,Movie Rating,Genre,Metascore,Votes,Gross collection,Director,Star
0,Die Verurteilten,1994,142,9.3,Drama,81,"2,697,799",$28.34M,Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,Der Pate,1972,175,9.2,"Crime, Drama",100,"1,872,178",$134.97M,Francis Ford Coppola,"[Marlon Brando, Al Pacino, James Caan, Diane K..."
2,The Dark Knight,2008,152,9.0,"Action, Crime, Drama",84,"2,671,551",$534.86M,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
3,Schindlers Liste,1993,195,9.0,"Biography, Drama, History",95,"1,363,925",$96.90M,Steven Spielberg,"[Liam Neeson, Ralph Fiennes, Ben Kingsley, Car..."
4,Der Pate 2,1974,202,9.0,"Crime, Drama",90,"1,279,579",$57.30M,Francis Ford Coppola,"[Al Pacino, Robert De Niro, Robert Duvall, Dia..."

In [8]:
#Saving data in Excel file:

movie_df.to_excel("Top_100_IMDB_Movies.xlsx")

In [9]:
movie_df.head(10)

,Name of movie,Year of relase,Watchtime,Movie Rating,Genre,Metascore,Votes,Gross collection,Director,Star
0,Die Verurteilten,1994,142,9.3,Drama,81,"2,697,799",$28.34M,Frank Darabont,"[Tim Robbins, Morgan Freeman, Bob Gunton, Will..."
1,Der Pate,1972,175,9.2,"Crime, Drama",100,"1,872,178",$134.97M,Francis Ford Coppola,"[Marlon Brando, Al Pacino, James Caan, Diane K..."
2,The Dark Knight,2008,152,9.0,"Action, Crime, Drama",84,"2,671,551",$534.86M,Christopher Nolan,"[Christian Bale, Heath Ledger, Aaron Eckhart, ..."
3,Schindlers Liste,1993,195,9.0,"Biography, Drama, History",95,"1,363,925",$96.90M,Steven Spielberg,"[Liam Neeson, Ralph Fiennes, Ben Kingsley, Car..."
4,Der Pate 2,1974,202,9.0,"Crime, Drama",90,"1,279,579",$57.30M,Francis Ford Coppola,"[Al Pacino, Robert De Niro, Robert Duvall, Dia..."
5,Die zwölf Geschworenen,1957,96,9.0,"Crime, Drama",97,"796,712",$4.36M,Sidney Lumet,"[Henry Fonda, Lee J. Cobb, Martin Balsam, John..."
6,Der Herr der Ringe: Die Rückkehr des Königs,2003,201,9.0,"Action, Adventure, Drama",94,"1,857,975",$377.85M,Peter Jackson,"[Elijah Wood, Viggo Mortensen, Ian McKellen, O..."
7,Pulp Fiction,1994,154,8.9,"Crime, Drama",94,"2,070,756",$107.93M,Quentin Tarantino,"[John Travolta, Uma Thurman, Samuel L. Jackson..."
8,Charlie 777,2022,164,8.9,"Adventure, Comedy, Drama",NaN,"33,127",NaN,Kiranraj K,"[Rakshit Shetty, Charlie, Sangeetha Sringeri, ..."
9,Inception,2010,148,8.8,"Action, Adventure, Sci-Fi",74,"2,370,015",$292.58M,Christopher Nolan,"[Leonardo DiCaprio, Joseph Gordon-Levitt, Elli..."